Source: pywinery
Maintainer: Felipe A. Hernandez <spayder26@gmail.com>
Build-Depends: debhelper (>= 5.0.38)
Build-Depends-Indep: cdbs (>= 0.4.43), python-dev (>= 2.6), python (>= 2.6)
Standards-Version: 3.7.2
XS-Python-Version: all
Original-Maintainer: Felipe A. Hernandez <spayder26@gmail.com>

Package: pywinery
Maintainer: Felipe A. Hernandez <spayder26@gmail.com>
Homepage: http://code.google.com/p/pywinery
Section: utils
Priority: optional
Installed-Size: 216
Architecture: all
Depends: ${python:Depends}, python-gobject (>=3.4), xdg-utils
Recommends: wine, winetricks, icoutils
XB-Python-Version: ${python:Versions}
Description: Simple wineprefix manager and launcher
 Pywinery is a simple and easy-to-use wine prefix management tool.
 It can be used to run exe files working as wine launcher.
 It's written in Python and uses the Gtk toolkit.
 .
 Features:
   * Simple dialog interface.
   * Shortcuts to winecfg, wine cmd, winetricks and more.
   * Easy prefix creation and management, BottleSpec compliant.
Original-Maintainer: Felipe A. Hernandez <spayder26@gmail.com>
