Source: pywinery
Maintainer: Felipe A. Hernandez <spayder26@gmail.com>
Build-Depends: debhelper (>= 8), dh-python, python (>= 2.6.6-3~), python-setuptools, librsvg2-bin
Standards-Version: 3.7.2
X-Python-Version: >= 2.6.6-3

Package: pywinery
Homepage: http://code.google.com/p/pywinery
Section: utils
Priority: optional
Architecture: all
Depends: ${python:Depends}, python-gobject (>=3.4), xdg-utils, icoutils
Recommends: wine, winetricks
XB-Python-Version: ${python:Versions}
Description: Simple wineprefix manager and launcher
 Pywinery is a simple and easy-to-use wine prefix management tool.
 It can be used to run exe files working as wine launcher.
 It's written in Python and uses the Gtk toolkit.
 .
 Features:
   * Simple dialog interface.
   * Shortcuts to winecfg, wine cmd, winetricks and other utilities.
   * Easy prefix creation, duplication and management, BottleSpec compliant.
