Source: pywinery
Section: utils
Priority: optional
Maintainer: Spayder26 <spayder26@gmail.com>
Build-Depends: debhelper (>= 5.0.38)
Build-Depends-Indep: cdbs (>= 0.4.43), python-dev (>= 2.4), python (>= 2.4)
Standards-Version: 3.7.2
XS-Python-Version: all

Package: pywinery
Architecture: all
Depends: ${python:Depends}, python-glade2 (>=2.6), python-gtk2 (>=2.6), wine (>=0.9.50)
Suggests: wine-doors
XB-Python-Version: ${python:Versions}
Description: Simple Wine multiple prefix manager, working as launcher or standalone application.
